/* Phone 480px  */
@media (max-width: 480px) {
    .sign_up {
        height: 400px;
    }
    
    .block__ad {
        width: 51%;
    }

    .block__price {
        width: 100%;
        margin-bottom: 20px;
    }

    .free__day__form {
        flex-direction: column;
    }

    .free__day__form input {
        margin-bottom: 20px;
        width: 250px;
    }

    .sign_up_free_day_childtext {
        display: none;
    }

    .main__block {
        flex-direction: column;
        width: 100%;
    }

    .right__img {
        width: 100%;
    }

    .additional__block {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .additional__img {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .accordion {
        width: 100%;
    }

    .parent__block {
        flex-direction: column;
    }

    .parent__post {
        width: 100%;
        height: auto;
    }

    .nav {
        /* flex-direction: column; */
    }

    .left__text {
        width: 100%;
    }

    .additional__text {
        width: 100%;
    }

    .block__price__text {
        font-size: 26px;
    }

    .additional_destinations {
        width: 100%;
        margin-left: 0;
    }

    .additional__head {
        text-align: center;
    }

    .kind_life {
        width: 100%;
        margin-left: 0;
    }

    .kind__life__name {
        font-size: 27px;
    }

    .price__block {
        flex-direction: column;
    }

    .block__people {
        width: 100%;
        margin-left: 0;
    }

    .people__card {
        margin-right: 0;
        margin-left: 20px;
    }

    .people__card img {
        width: 250px;
        height: 250px;
    }

    .general_number {
        font-size: 16px;
    }

    .general__adderss__number {
        font-size: 17px;
    }

    .navbar-brand {
        width: 180px;
        height: 110px;
    }
}


/* Ноутбук */
@media (max-width: 1280px) {
    .main__block {
        width: 100%;
    }

    .additional_destinations {
        width: 100%;
        margin-left: 0;
    }
}