/* Phone 480px  */

@media (max-width: 480px) {
    .sign_up {
        height: 400px;
    }
    
    .block__ad {
        width: 51%;
    }

    .block__price {
        width: 100%;
        margin-bottom: 20px;
    }

    .free__day__form {
        flex-direction: column;
    }

    .main__block {
        flex-direction: column;
    }

    .right__img {
        width: 100%;
    }

    .additional__block {
        flex-direction: column;
    }

    .additional__img {
        width: 100%;
        height: auto;
    }

    .accordion {
        width: 100%;
    }

    .parent__block {
        flex-direction: column;
    }

    .parent__post {
        width: 100%;
        height: auto;
    }

    .nav {
        flex-direction: column;
    }

    .left__text {
        width: 100%;
    }

    .main__block {
        width: 100%;
    }

    .additional__text {
        width: 100%;
    }

    .block__price__text {
        font-size: 26px;
    }

    .additional_destinations {
        width: 100%;
        margin-left: 0;
    }

    .additional__head {
        text-align: center;
    }
}