.header {
    display: flex;
    align-content: center;
    justify-content: space-evenly;

    flex-direction: row;
    background-color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    border: 3px solid green;
}

a {
    text-decoration: none;
}

/* a:visited {
    color: #000;
} */

.logo {
    display: flex;
    align-self: center;
}

.logo img {
    width: 125px;
    /* height: 125px; */
}

.logo__info {

}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.nav__li {
    margin-left: 20px;
    margin-right: 20px;
}

.address {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.adderss__block {

}

.address__sity {

}

.address__number {

}

.wrapper {

}

.sign_up {
    display: flex;
    background-image: url('../img/home/photo_015.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    background-color: aqua;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.block__price {
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 5px solid green;
    border-radius: 25px;
}

.price__card__img {
    /* width: 470px;
    height: 290px; */
}

.time {
    align-items: center;
}

.block__price__text {

}




.advantages {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 1000px;
    border: 5px solid gray;
    justify-content: space-around;
}

.advantages__logo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.advantages__logo img {
    width: 330px;
    height: 100px;
}

.block__ad {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 5px solid green;
    justify-content: center;
    align-items: center;
}

.block__ad img{
    width: 160px;
    height: 160px;
}



.kind_life {

}

.sign_up_free_day {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-color: rgb(162, 240, 18);
    justify-content: center;
    align-items: center;
}

.free__day__form {
    display: flex;
    flex-direction: row;
}

.main_directions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_directions__img {
    display: flex;
    flex-direction: column;
}

.main_directions__img img {
    width: 160px;
    height: 150px;
}


.main__block {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.left__text {
    width: 50%;
}

.right__img {
    width: 50%;
}






.additional_destinations {
    width: 100%;
    height: 1200px;
    background-color: rgb(97, 106, 187);
}

.FAQ {

}

.parent_feedback {

}

.footer {
    display: flex;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 500px;
    justify-content: center;
    background-color: rgb(47, 47, 185);

    background-image: url('../img/home/greengrass.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.our_contacts {

}

.address_map {

}

.general_number {

}

.general__adderss__number {

}

.nav {

}

.nav__li {
    color: #fff;
}