body {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1440px;
    margin-left: 10%;
    margin-right: 10%; */
    z-index: 1;
}

input {
    color: rgb(71, 71, 71);
    border: 2px solid rgb(151, 189, 55);
    background-color: transparent;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 400;
    height: 60px;   
}

#subapp {
    color: #688c14;
    border: 2px solid #97bd37;
    border-radius: 30px;
    font-size: 20px;
    background-color: #ffffff;
}



/* header */


.header {
    display: flex;
    align-content: center;
    justify-content: space-evenly;

    flex-direction: row;
    background-color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    border: 3px solid green;
    z-index: 2;
}

a {
    text-decoration: none;
}

/* a:visited {
    color: #000;
} */

.logo {
    display: flex;
    align-self: center;
}

.logo img {
    width: 125px;
    /* height: 125px; */
}

.logo__info {

}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.nav__li {
    margin-left: 20px;
    margin-right: 20px;
}

.address {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.adderss__block {

}

.address__sity {

}

.address__number {

}

/* Основной контент */

.wrapper {
    width: 100%;
}

/* Блок с регистрацией на пробный день  */

.sign_up {
    display: flex;
    /* background-image: url('../img/home/m_photo_015.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    background-color: #A6DDF1;
    justify-content: center;
}

.sign_up_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Цена */


.price {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
}

.block__price {
    display: flex;
    flex-direction: column;
    width: 45%;
    /* border: 5px solid green; */
    border-radius: 25px;
    background-color: #b5de4c;
}

.price__card__img {
    /* width: 470px;
    height: 290px; */

    
    /* position: relative; */
    top: 25px;
}

.time {
    align-items: center;
}

.time__sp {
    background-color: #fff;
}

.block__price__text {
    align-self: center;
    font-size: 38px;
}


/* Наши премущества */

.advantages {
    display: flex;
    flex-wrap: wrap;

    width: 80%;
    
    /* border: 5px solid gray; */
    justify-content: center;
    margin-left: 10%;
}

.advantages__logo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.advantages__logo img {
    width: 330px;
    height: 100px;
}

.block__ad {
    display: flex;
    flex-direction: column;
    width: 30%;
    /* border: 5px solid green; */
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.block__ad img{
    width: 130px;
    height: 130px;
}


/* Жизнь десткого сада (Галерея) */

.kind_life {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 80%;

    margin-left: 10%;

    align-items: center;
}
.our_life__img {
    width: 150px;
    height: 150px;
}

.carousel {
    /* width: 60%; */
}


/* Регистрация на пробный день */

.sign_up_free_day {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-color: #d4f088;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.free__day__form {
    display: flex;
    flex-direction: row;
}


/* Основные направления */

.main_directions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_directions__img {
    display: flex;
    flex-direction: column;
}

.main_directions__img img {
    width: 160px;
    height: 150px;
}


.main__block {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-bottom: 20px;
}

.left__text {
    width: 50%;
}

.left__text p{
    font-size: 30px;
    line-height: 1.17;
}

.right__img {
    width: 50%;
}



/* доп напрвления */


.additional_destinations {
    width: 80%;

    background-color: #ffdea8;

    margin-left: 10%;
}

.additional__block {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.additional__img {
    width: 40%;
    height: 340px; 
}

.additional__text {
    width: 50%;
}

.additional__head {

}

.additional__details {

}


/* Частые вопросы */

.FAQ {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #a6ddf1;
}

.accordion {
    width: 60%;
    /* background-color: #a6ddf1; */
}


/* Отзывы родителей */


.parent_feedback {
    display: flex;
    flex-direction: column;

    width: 80%;

    margin-left: 10%;

}

.feedback__block {
    display: flex;
    flex-direction: column;
}

.feedback__block img {
    width: 200px;
    height: 200px;
}

.parent__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parent__post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 320px;
}

.parent__post img {
    width: 150px;
    height: 150px;
    border-radius: 90px;
}

.parent__name {

}

.parent__text {
    text-align: center;
}

/* Footer */

.footer {
    display: flex;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 500px;
    justify-content: center;
    background-color: #d4f088;

    background-image: url('../img/home/greengrass.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.our_contacts {

}

.address_map {

}

.general_number {

}

.general__adderss__number {

}

.nav {

}

.nav__li {
    color: #fff;
}