/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); */

body {
    z-index: 1;
}

input {
    color: rgb(71, 71, 71);
    border: 2px solid rgb(151, 189, 55);
    background-color: transparent;
    border-radius: 30px;
    font-size: 17px;
    font-family: var(--font-fam);
    font-weight: 400;
    height: 60px;   
}

.ul {
    padding-left: 0px;
}


/* .carousel-inner{
    width: 100%;
}    */

.hr__on__page {
    width: 100%;
    height: 10vh;

    background-color: #fff;
    color: #fff;
}

#subapp {
    color: #688c14;
    border: 2px solid #97bd37;
    border-radius: 30px;
    font-size: 20px;
    background-color: #ffffff;
    height: 60px;
}


/* header */


.header {
    display: flex;
    align-content: center;
    justify-content: space-evenly;

    flex-direction: row;
    background-color: #F8F9FA;
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 5;
}

a {
    text-decoration: none;
}

/* a:visited {
    color: #000;
} */

.logo {
    display: flex;
    align-self: center;
}

.logo img {
    width: 125px;
    /* height: 125px; */
}

.navbar-brand {
    width: 200px; 
    height: 110px;
}

.logo__info {

}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.nav__li {
    margin-left: 20px;
    margin-right: 20px;
}

.nav-item {
    font-size: 18px;
    line-height: 1.55;
    font-weight: 500;
    font-family: var(--font-fam);
}

.address {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.adderss__block {

}

.address__sity {

}

.address__number {

}

/* Основной контент */

.wrapper {
    width: 100%;
}

/* Блок с регистрацией на пробный день  */

.sign_up {
    display: flex;
    background-repeat: no-repeat;
    background-size:auto;
    width: 100%;
    justify-content: center;
}

.sign_up_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Цена */


.price {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
}

.block__price {
    display: flex;
    flex-direction: column;
    width: 45%;
    border-radius: 25px;
    background-color: #b5de4c;

    height: auto;
    padding-top: 30px;
}

.price__card__img {
    width: auto;
    /* height: 400px; */
    height: auto;
    top: 25px;
}

.time {
    display: flex;
    justify-content: center;

    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    font-family: var(--font-fam);
}

.time__sp {
    background-color: #fff;
    /* height: 250px; */
}

.time__sp ul {
    padding-left: 0;
}

.block__price__text {
    align-self: center;
    font-size: 38px;
    font-family: var(--font-fam);
}


/* Наши премущества */

.advantages {
    display: flex;
    flex-wrap: wrap;

    width: 80%;
    
    justify-content: center;
    margin-left: 10%;
}

.advantages__logo {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top: 30px;
}

.advantages__logo img {
    /* width: 330px; */
    height: 100px;
}

.advantages__name {
    font-size: 35px;
    line-height: 46px;
    font-weight: 500;
    font-family: var(--font-fam);

    text-align: center;
}

.block__ad {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: var(--font-fam);
    line-height: 22px;
    text-align: center;
}

.block__ad img{
    width: 130px;
    height: 130px;
}


/* Жизнь десткого сада (Галерея) */

.kind_life {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 80%;
    height: auto;

    margin-left: 10%;

    align-items: center;
}

.kind__life__name {
    font-size: 35px;
    font-weight: 600;
    font-family: var(--font-fam);
}

.our_life__img {
    width: 150px;
    height: 80px;
}

.carousel {
    /* width: 60%; */
}


/* Регистрация на пробный день */

.sign_up_free_day {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #d4f088;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.sign_up_free_day p { 
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.free__day__form {
    display: flex;
    flex-direction: row;
}

.free__day__form input {
    margin-right: 10px;
}

.sign_up_free_day_childtext {
    font-weight: normal;
}


/* Основные направления */

.main_directions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_directions__name {
    font-size: 36px;
    font-weight: 500;
    font-family: var(--font-fam);
    text-align: center;

}

.main_directions__img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_directions__img img {
    width: 160px;
    height: 80px;
}


.main__block {
    display: flex;
    flex-direction: row;
    width: 60%;
    /* margin-bottom: 20px; */
}

.left__text {
    width: 50%;
}  

.left__text p{
    font-size: 30px;
    font-family: var(--font-fam);
    line-height: 1.17;
    text-align: center;
}

.left__text li{
    list-style: inside;
}

.right__img {
    width: 50%;
}



/* доп напрвления */


.additional_destinations {
    width: 60%;
    margin-left: 20%;
}

.additional_destinations__name {
    font-size: 36px;
    font-family: var(--font-fam);
    font-weight: 500;
    text-align: center;
}

.tab-content {
    background-color: #ffdea8;
}

.additional__block {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 20px;
}

.additional__img {
    width: 50%;
    height: 340px; 

    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
}

.additional__text {
    width: 40%;
}

.additional__head {
    margin-top: 30px;
    font-size: 26px;
    font-weight: 600;
}

.additional__head > li {
    color: #A5D223;
}

.additional__details {

}


/* Частые вопросы */

.FAQ {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #a6ddf1;
    padding-bottom: 35px;
}

.FAQ p {
    font-size: 28px;
    line-height: 33px;
    font-weight: 700;
    font-family: var(--font-fam);
    text-align: center;
}

.accordion {
    width: 60%;
}


/* Отзывы родителей */


.parent_feedback {
    display: flex;
    flex-direction: column;

    width: 80%;

    margin-left: 10%;

}

.feedback__block {
    display: flex;
    flex-direction: column;
}

.feedback__block img {
    display: flex;
    width: 200px;
    height: 200px;
    align-self: center;
}

.feedback__block p {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: var(--font-fam);
}

.parent__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parent__post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: auto;
}

.parent__post img {
    width: 150px;
    height: 150px;
    border-radius: 90px;
}

.parent__name {

}

.parent__text {
    text-align: center;
    color: #6e6e6e;
    font-size: 16px;
    font-family: var(--font-fam);
    line-height: 1.2;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    
    position: relative;
    bottom: 0px;
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: #A5D223;

    /* background-image: url('../img/home/greengrass.svg'); */
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
}

.our_contacts {

}

.address_map {
    width: 100%;
    height: auto;
    position: relative;
}

.general_number {
    display: flex;
    flex-direction: row;
    justify-content: center;


    font-family: var(--font-fam);
    font-size: 29px;
    font-weight: 700;
    line-height: 45px;
    text-decoration: rgb(56, 56, 56);
    text-align: center;
    word-spacing: 0px;
}

.general__adderss__number {
    display: flex;
    flex-direction: column;
    text-align: center;

    font-weight: 700;
    line-height: 31px;
    font-size: 20px;
    font-family: var(--font-fam);
}   

.nav {
    width: 100%;
    height: auto;
    justify-content: center;
    padding-top: 50px;
}

.nav__li {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-fam);
}

.nav__li a {
    text-decoration: none;
    color: #fff;
}

.foot__logo {
    display: flex;

    width: 200px;
    height: 150px;
}

.years {
    display: flex;
    color: #000;
}

.price__block {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: auto;
}

.price__block__text {
    display: flex;
    flex-direction: column;

    text-align: center;

    font-size : 31px;
    font-weight : 500;
    font-family: var(--font-fam);
    line-height : 48px;
    text-decoration : rgb(3, 3, 3);
    text-align : center;
    vertical-align : middle;
    word-spacing : 0px;
}



.block__people {
    display: flex;
    width: 80%;
    height: auto;

    flex-wrap: wrap;
    flex-direction: row;

    margin-left: 20%;
}

.people__card {
    width: 300px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.people__card img {
    width: 350px;
    height: 350px;
}

.people__name {
    font-size: 20px;
    font-family: var(--font-fam);
    line-height: 31px;


    color: #202020;
    font-size: 22px;
    line-height: 1.55;
    font-weight: 700;
}

.people__description {

}


/* Долгопрудный */

.kindergarten__img {
    width: 430px;
    height: 120px;
}

.daily__regime {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daily__regime p {
    font-size: 24px;
    font-weight: 700;
}

.daily__regime img {
    width: 560px; 
    height: 680px;   
}